<div id="attributions-list">
    <table class="table table-bordered table-striped mt-3 shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Habitant</th>
                <th>Cadeau</th>
                <th>Statut</th>
                <th>Date Proposition</th>
                <th>Date Choix</th>
                <th>Adresse Livraison</th>
                <th>Prix Total</th>
            </tr>
        </thead>
        <tbody id="attributions-table-body">
        </tbody>
    </table>
</div>