<div id="gifts-list">
    <table class="table table-bordered table-striped mt-3 shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Code-barres</th>
                <th>Âge min</th>
                <th>Âge max</th>
                <th>Prix</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody id="gifts-table-body">
        </tbody>
    </table>
</div>