# --------------------------
# Fichiers générés par Maven
# --------------------------
/target/
/.mvn/wrapper/maven-wrapper.jar

# --------------------------
# IDE
# --------------------------
.idea/
*.iml
*.iws
*.ipr

# --------------------------
# Fichiers de logs
# --------------------------
*.log

# --------------------------
# Fichiers temporaires
# --------------------------
*.class
*.tmp
*.swp
.DS_Store

# --------------------------
# Base de données H2 locale
# --------------------------
/data/*.mv.db
/data/*.trace.db

# --------------------------
# Spring Boot
# --------------------------
spring.log

# --------------------------
# OS
# --------------------------
Thumbs.db
desktop.ini
